/*包含底部的样式和返回顶部的样式*/
#returnBack {
	background: rgba(0, 0, 0, 0) url(img/backtop.png) no-repeat scroll left top;
	bottom: 80px;
	cursor: pointer;
	display: none;
	height: 64px;
	right: 20%;
	position: fixed;
	width: 28px;
}
#returnBack:hover {
	background-position: right top;
}
#bottom {
	text-align: center;
}
#bottom hr {
	color: rgba(236, 236, 236, 0.3);
}
#bottom li {
	position: relative;
	display: inline-block;
	font-size: 0.8em;
	line-height: 2em;
	padding: 0 20px;
	color: rgb(85, 85, 85);
	cursor: pointer;
}
#bottom .weixin {
	position: absolute;
	top: -243px;
	z-index: 4;
	opacity: 0;
	left: 0;
}
#bottom li:last-of-type:hover .weixin {
	opacity: 1;
}
#bottom .webInfo {
	color: rgb(85, 85, 85);
}