#container {
	width: 55%;
	margin: 0 auto;
	margin-bottom: 35px;
}
#content {
	width: 100%;
	overflow: hidden;
}
#content .leftNav {
	width: 22%;
	background: rgb(250, 250, 250) none repeat scroll 0 0;
	float: left;
}
#content .leftNav .menu_box {
	position: relative;
}
#content .leftNav .menu_box .nav_main {
	padding: 6px 12px;
	border: 2px solid rgb(250, 250, 250);
	position: relative;
}
#content .leftNav .menu_box .nav_main h2 {
	font-size: 1.12em;
	margin: 10px 0;
}
#content .leftNav .menu_box a {
	font-size: 0.87em;
	display: inline-block;
	padding-right: 8px;
	margin: 0 5px 10px 0;
	white-space: nowrap;
}
#content .leftNav .menu_box:hover .nav_main {
	position: relative;
	z-index: 4;
	border: 2px solid rgb(201, 203, 206);
	border-right: rgb(255, 255, 255);
	background: rgb(255, 255, 255);
}
#content .leftNav a {
	color: rgb(85, 85, 85);
	text-decoration: none;
}
#content .leftNav a:hover,
.rightContent .hotJob a:hover {
	text-decoration: underline;
	color: rgb(1, 152, 117);
}
#content .leftNav .nav_main span {
	float: right;
	width: 13px;
	height: 14px;
	float: right;
	background: rgba(0, 0, 0, 0) url(img/arr.png) no-repeat scroll 0 0;
}
#content .leftNav .menu_box .nav_sub {
	position: absolute;
	display: none;
	width: 250%;
	background: rgb(255, 255, 255);
}
#content .leftNav .menu_box .nav_sub dl {
	margin: 20px;
	overflow: hidden;
}
#content .leftNav .menu_box .nav_sub dt {
	width: 15%;
	float: left;
	text-align: right;
	margin-right: 5%;
}
#content .leftNav .menu_box .nav_sub dd {
	width: 80%;
	float: left;
}
#content .leftNav .menu_box .active {
	display: block;
	position: absolute;
	z-index: 3;
	border: 2px solid rgb(201, 203, 206);
}
#content .leftNav .order h2 {
	font-size: 1.12em;
	padding: 5%;
	margin-top: 5%;
	border-bottom: 2px solid rgb(1, 152, 117);
	cursor: pointer;
}
#content .leftNav .order span {
	width: 12px;
	height: 12px;
	padding: 5px;
	float: right;
	background: rgba(0, 0, 0, 0) url(img/sub_icon.png) no-repeat scroll 0 0;
}
.rightContent {
	position: relative;
	z-index: 1;
	float: right;
	width: 73%;
}
#searchType {
	position: relative;
	width: 15%;
	cursor: pointer;
	display: inline-block;
	float: left;
	z-index: 2;
}
#searchType ul {
	width: 100%;
	height: 37px;
}
#searchType li {
	height: 100%;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.5em;
	background: rgb(255, 255, 255);
}
#searchType li:first-of-type {
	border: 2px solid rgb(1, 152, 117);
	border-right: none;
}
#searchType li:last-of-type {
	display: none;
}
#searchType:hover li:last-of-type {
	display: block;
	border: 2px solid rgba(1, 152, 117, 0.5);
}
#searchType:hover li:first-of-type {
	border-bottom: none;
}
#searchType .dowmICO {
	background: url(img/s_drop.png);
	width: 14px;
	height: 9px;
	position: absolute;
	right: 10%;
	top: 50%;
}
#searchType:hover .dowmICO {
	animation: dowmICO 0.2s;
	animation-fill-mode: forwards;
}
@keyframes dowmICO {
	to {
		transform: rotate(180deg);
	}
}
#searchText {
	display: inline-block;
	width: 60%;
	float: left;
	line-height: 35px;
	height: 35px;
	border: 2px solid rgb(1, 152, 117);
}
.searchBar #searchBtn {
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.25em;
	display: inline-block;
	border: 2px solid rgba(1, 152, 117, 0.5);
	line-height: 37px;
	background: rgb(1, 152, 117);
	width: 23%;
}
.searchBar .hotSearch {
	position: relative;
	z-index: 1;
}
.searchBar .hotSearch ul {
	display: inline-block;
}
.searchBar .hotSearch {
	padding: 10px;
}
.searchBar .hotSearch ul li {
	display: inline-block;
	padding: 0 10px;
}
.searchBar .hotSearch ul li a {
	color: rgb(85, 85, 85);
	text-decoration: none;
}
.rightContent .circlePic {
	width: 100%;
	overflow: hidden;
	font-size: 0;
	height: 160px;
}
.rightContent .circlePic .circlePicUl {
	width: 80%;
	float: left;
	height: 100%;
	position: relative;
	cursor: pointer;
}
.rightContent .circlePic .circlePicUl ul,
.rightContent .circlePic .circlePicUl ul li,
.rightContent .circlePic .circlePicUl img {
	width: 100%;
	height: 100%;
}
.rightContent .circlePic .circlePicUl ul {
	position: absolute;
	top: 0;
}
.rightContent .circlePic .circlePicList {
	width: 16%;
	float: right;
}
.rightContent .circlePic .circlePicList img {
	width: 100%;
	height: 100%;
}
.rightContent .circlePic .circlePicList ul li {
	height: 40px;
	margin-bottom: 9px;
	border: 3px solid #d3d3d3;
}
.rightContent .circlePic .circlePicList ul .change {
	border: 3px solid rgb(1, 152, 117);
}
.rightContent .advert {
	width: 100%;
}
.rightContent .advert .advertItem {
	border: 1px solid rgba(85, 85, 85, 0.2);
	position: relative;
	display: inline-block;
	margin-right: 0.8%;
	margin-top: 2%;
	width: 15%;
	cursor: pointer;
}
.rightContent .advert .advertItem .shouImg {
	font-size: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.rightContent .advert .advertItem img {
	width: 100%;
	height: 100%;
}
.rightContent .advert .advertItem .hot_info {
	position: absolute;
	background: rgba(1, 152, 117, 0.8);
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	text-align: center;
	color: rgb(255, 255, 255);
}
.rightContent .advert .advertItem .hot_info h2 {
	padding: 5px;
	font-size: 1.2em;
}
.rightContent .advert .advertItem .hot_info hr {
	width: 80%;
	color: rgb(255, 255, 255);
}
.rightContent .advert .advertItem .hot_info p {
	text-align: left;
	padding: 5px;
	font-size: 0.7em;
	line-height: 1.5em;
}
.rightContent .advert .advertItem:hover img {
	animation: advert 0.5s;
	animation-fill-mode: forwards;
}
.rightContent .advert .advertItem:hover .hot_info {
	animation: advertHot 0.5s;
	animation-fill-mode: forwards;
	display: block;
}
@keyframes advert {
	to {
		transform: scale(1.5);
	}
}
@keyframes advertHot {
	to {
		opacity: 1;
		top: 0;
	}
}
.rightContent .jobNav {
	width: 100%;
	background: rgb(246, 246, 246);
	margin-top: 20px;
}
.rightContent .jobNav ul li {
	display: inline-block;
	font-size: 1.25em;
	padding: 7px 20px;
	cursor: pointer;
}
.rightContent .jobNav ul .choose {
	border-top: 3px solid rgb(119, 211, 190);
	background: rgb(255, 255, 255);
}
.rightContent .hotJob,
.rightContent .newJob {
	width: 100%;
}
.rightContent .hotJob,
.rightContent .newJob {
	width: 100%;
	position: relative;
}
.rightContent .newJob {
	display: none;
}
.rightContent .hotJob li:nth-child(even),
.rightContent .newJob li:nth-child(even) {
	background: rgb(250, 250, 250);
}
.rightContent .hotJob li,
.rightContent .newJob li {
	overflow: hidden;
	padding: 10px;
}
.rightContent .hotJob li .jobInfo,
.rightContent .newJob li .jobInfo {
	width: 50%;
	float: left;
}
.rightContent .hotJob li h2,
.rightContent .newJob li h2 {
	padding: 20px 0;
	padding-left: 0;
}
.rightContent .hotJob li h2 a,
.rightContent .newJob li h2 a {
	color: black;
	margin-right: 20px;
}
.rightContent .hotJob li .companyInfo h2 a,
.rightContent .newJob li .companyInfo h2 a {
	text-decoration: none;
}
.rightContent .hotJob li .light,
.rightContent .newJob li .light {
	color: rgb(119, 119, 119);
}
.rightContent .hotJob li p,
.rightContent .newJob li p {
	margin: 10px 0;
	font-size: 0.8em;
}
.rightContent .hotJob li .companyInfo,
.rightContent .newJob li .companyInfo {
	width: 50%;
	float: left;
}
.rightContent .hotJob li .feature,
.rightContent .newJob li .feature {
	border: 1px solid rgb(119, 119, 119);
	margin-right: 10px;
}
.rightContent .hotJob li .small,
.rightContent .newJob li .small {
	margin-left: 20px;
}
#viewMore {
	float: right;
	background: rgb(1, 152, 117);
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 10px 20px;
}
#viewMore span {
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 5px;
}
#viewMore span img {
	width: 100%;
	height: 100%;
}
.rightContent .friendLink {
	margin-top: 10%;
	clear: both;
}
.rightContent .friendLink {
	width: 100%;
}
.rightContent .friendLink dt {
	width: 10%;
	float: left;
}
.rightContent .friendLink dd {
	width: 90%;
	float: right;
}
.rightContent .friendLink li {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 7px;
	border-right: 1px solid rgb(85, 85, 85);
}
.rightContent .friendLink hr {
	color: rgba(236, 236, 236, 0.3);
}
.rightContent .friendLink li a {
	color: rgb(85, 85, 85);
	text-decoration: none;
	font-size: 0.75em;
}
.rightContent .friendLink li a:hover {
	color: #0061A6;
	text-decoration: underline;
}
#returnBack:hover {
	background-position: right top;
}
@media only screen and (max-width: 1760px) {
	#container,
	#header {
		width: 60%;
	}
	.rightContent .hotSearch {
		font-size: 0.8em;
	}
	.rightContent .advert .advertItem {
		padding-right: 0;
		margin-right: 0;
	}
	.rightContent .advert .advertItem .hot_info h2 {
		font-size: 1em;
	}
	.rightContent .advert .advertItem .hot_info hr {
		display: none;
	}
}
@media only screen and (max-width: 1400px) {
	#container,
	#header {
		width: 70%;
	}
	.rightContent .advert .advertItem .hot_info h2 {
		font-size: 1.3em;
	}
}
@media only screen and (max-width: 1080px) {
	#container,
	#header {
		width: 100%;
	}
}
@media only screen and (max-width: 860px) {
	.rightContent .advert .advertItem .hot_info h2 {
		font-size: 1.5em;
	}
	.rightContent .advert .advertItem .hot_info p {
		display: none;
	}
	.searchBar #searchBtn {
		width: 15
	}
}
@media only screen and (max-width: 700px) {
	.rightContent .advert .advertItem .hot_info h2 {
		font-size: 1em;
	}
}