/*包含顶部的样式和wrapper的样式*/

#wrapper {
	width: 100%;
	font-family: "微软雅黑", ​"宋体", ​Arial;
	font-size: 16px;
	border-top: 3px solid rgb(1, 152, 117);
}
#header {
	width: 55%;
	margin: 0 auto;
	margin-bottom: 35px;
}
#top {
	width: 100%;
	height: 60px;
	vertical-align: middle;
	background: #fafafa none repeat scroll 0 0;
	position: relative;
}
#top .topBar {
	display: inline-block;
	margin-left: 50px;
}
#top img {
	width: 22%;
	vertical-align: middle;
}
#top .topBar li {
	display: inline-block;
	font-size: 1.25em;
	margin-right: 40px;
	line-height: 57px;
	color: rgb(153, 153, 153);
	cursor: pointer;
}
#top .topBar .active {
	color: rgb(0, 0, 0);
	border-bottom: 3px solid rgb(1, 152, 117);
}
#top .topBar li:hover {
	color: rgb(0, 0, 0);
}
#top .loginBtn {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(1, 152, 117);
	display: none;
}
#top .loginBtn a {
	display: inline-block;
	padding: 0 13px;
	margin: 6px 0;
	font-size: 0.87em;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#top .loginBtn a:first-of-type {
	border-right: 1px solid rgb(255, 255, 255);
}
#top .loginBtn a:hover {
	color: rgb(204, 234, 227);
}
#top .userBtn,
#top .companyBtn {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(1, 152, 117);
	z-index: 5;
	/*display: none;*/
}
#top .userBtn a{
	display: inline-block;
	padding: 0 13px;
	margin: 6px 0;
	font-size: 0.87em;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#top .userBtn dt span{
	display: inline-block;
	background: url(img/s_drop.png);
	transition: transform 0.2s ease 0s;
	width: 14px;
	height: 9px;
}
#top .userBtn dl dt{
	display: block;
	width: 110px;
}
#top .userBtn dl dd{
	display: none;
}
#top .userBtn dl:hover .sharp{
	transform: rotate(180deg);
}
#top .userBtn dl:hover dd {
	display: block;
}
#top .userBtn dl:hover dd .notic {
	color: rgb(255, 255, 255);
	font-size: 0.7em;
	display: inline-block;
	margin-right: 10px;
	margin-left: 20px;
	float: right;
	line-height: 25px;
}
#top .userBtn dl .roundCircle {
	background: rgba(0, 0, 0, 0) url("img/noticeDot.png") no-repeat scroll 0 0;
	height: 9px;
	margin: 11px 0 0 10px;
	width: 9px;
}
#top .userBtn dd:hover {
	background-color: #91CEBE;
}
@media only screen and (max-width: 480px) {
	#top .topBar li {
		font-size: 0.8em;
		margin-right: 0;
	}
}
@media only screen and (max-width: 700px) {
	#top .topBar li {
		margin-right: 5px;
		font-size: 1em;
	}
	#top .loginBtn a {
		display: block;
	}
}