/*包含顶部的样式和wrapper的样式*/
#wrapper {
	width: 100%;
	font-family: "微软雅黑", ​"宋体", ​Arial;
	font-size: 16px;
	border-top: 3px solid rgb(1, 152, 117);
}
#header {
	width: 55%;
	margin: 0 auto;
	margin-bottom: 35px;
}
#top {
	width: 100%;
	height: 60px;
	vertical-align: middle;
	background: #fafafa none repeat scroll 0 0;
	position: relative;
}
#top .topBar {
	display: inline-block;
	margin-left: 50px;
}
#top img {
	width: 22%;
	vertical-align: middle;
}
#top .topBar li {
	display: inline-block;
	font-size: 1.25em;
	margin-right: 40px;
	line-height: 57px;
	color: rgb(153, 153, 153);
	cursor: pointer;
}
#top .topBar .active {
	color: rgb(0, 0, 0);
	border-bottom: 3px solid rgb(1, 152, 117);
}
#top .topBar li:hover {
	color: rgb(0, 0, 0);
}
#top .loginBtn {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(1, 152, 117);
}
#top .loginBtn a {
	display: inline-block;
	padding: 0 13px;
	margin: 6px 0;
	font-size: 0.87em;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
#top .loginBtn a:first-of-type {
	border-right: 1px solid rgb(255, 255, 255);
}
#top .loginBtn a:hover {
	color: rgb(204, 234, 227);
}
@media only screen and (max-width: 480px) {
	#top .topBar li {
		font-size: 0.8em;
		margin-right: 0;
	}
}
@media only screen and (max-width: 700px) {
	#top .topBar li {
		margin-right: 5px;
		font-size: 1em;
	}
	#top .loginBtn a {
		display: block;
	}
}
@media only screen and (max-width:1600px ) {
	#top{
		/*width: 70%;*/
	}
}
