body {
				background: url(../img/img01.jpg) repeat;
				font-size: 14px;
				font-family: Arial, Helvetica, sans-serif;
				color: #5B5B5B;
			}
			#main {
				background: url(../img/img05.jpg) repeat top left;
				width: 100%;
			}
			.header {
				height: 150px;
				margin: 0 428px;
			}
			.logo {
				float: left;
			}
			.logo a {
				font-family: 'Oswald', sans-serif;
				font-size: 3.8em;
				letter-spacing: -2px;
				line-height: 120px;
			}
			.logo a:link {
				color: black;
				text-decoration: none;
			}
			.logo a:visited {
				color: black;
			}
			.logo a:hover {
				color: black;
			}
			.logo a:active {
				color: black;
			}
			.nav {
				/*width: 550px;*/
				
				height: 100px;
				/*line-height: 100px;*/
				
				margin-top: 20px;
				/*border: 1px solid black;*/
				
				float: right;
			}
			.nav li:link,
			.nav li a:link {
				color: black;
				text-decoration: none;
			}
			.nav li:visited,
			.nav li a:visited {
				color: black;
			}
			.nav li:hover,
			.nav li a:hover {
				color: white;
				background: url(../img/img01.jpg) repeat;
			}
			.nav li:active,
			.nav li a:active {
				color: white;
			}
			.nav li {
				display: inline-block;
				padding: 43px 20px;
			}
			#navFirst {
				background: url(../img/img01.jpg) repeat;
			}
			#navFirst a {
				color: white;
			}
			.pic {
				width: 100%;
				text-align: center;
				height: 300px;
				margin-bottom: 70px;
			}
			.leftContext {
				float: left;
			}
			.leftOne {
				width: 271px;
				padding-top: 11px;
				margin-top: 33px;
			}
			.leftOne h1 {
				padding: 11px 0 30px 1px;
				font-size: 1.8em;
				color: #222222;
				font-family: 'Oswald', sans-serif;
			}
			.leftOne li {
				padding-top: 15px;
				padding-bottom: 13px;
				border-bottom: 1px solid #e7ebed;
			}
			.leftOne li img {
				display: inline-block;
				padding-right: 17px;
			}
			.leftOne a:link {
				color: #5e5e5e;
			}
			.leftOne a:visited {
				color: #5e5e5e;
			}
			.leftOne a:hover {
				color: #5e5e5e;
			}
			.leftOne a:active {
				color: #5e5e5e;
			}
			.contextWapper {
				width: 1000px;
				margin: 0 auto;
			}
			.rightContext {
				width: 660px;
				float: right;
				margin-top: 22px;
			}
			.rightContext a:link {
				color: #000000;
			}
			.rightContext a:visited {
				color: #000000;
			}
			.rightContext a:hover {
				color: #000000;
			}
			.rightContext a:active {
				color: #000000;
			}
			.cleanBoth {
				clear: both;
			}
			.rightOne {
				height: 393px;
				margin-bottom: 63px;
				padding-bottom: 22px;
			}
			.rightOne h1 {
				font-size: 2.8em;
				font-family: 'Oswald', sans-serif;
				padding-bottom: 10px;
				letter-spacing: -1px;
			}
			.rightOne h1 a:link {
				color: #222222;
				text-decoration: none;
			}
			.rightOne h1 a:visited {
				color: #222222;
			}
			.rightOne h1 a:hover {
				color: #222222;
			}
			.rightOne h1 a:active {
				color: #222222;
			}
			.rightOneLeft {
				height: 52px;
				line-height: 52px;
				float: left;
			}
			.rightOneRight {
				height: 52px;
				line-height: 52px;
				float: right;
			}
			.rightOne p {
				font-size: 14px;
				line-height: 180%;
				margin-bottom: 26px;
			}
			.rightBtn {
				padding: 13px 10px 13px 0;
			}
			.btn {
				display: inline-block;
				width: 98px;
				height: 35px;
				background-color: #222222;
				line-height: 35px;
				text-align: center;
			}
			.rightBtn .btn:link,
			#footer a {
				color: #FFFFFF;
				text-decoration: none;
			}
			.rightBtn .btn:visited,
			#footer a {
				color: #FFFFFF;
			}
			.rightBtn .btn:hover,
			#footer a {
				color: #FFFFFF;
			}
			.rightBtn .btn:active,
			#footer a {
				color: #FFFFFF;
			}
			#footer {
				width: 100%;
				height: 138px;
				line-height: 138px;
				margin: 0 auto;
				text-align: center;
				color: white;
				margin-bottom: 67px;
			}